<div class="container">
  <div id="countries_data" class="is-invisible has-background-black-ter">
    <div class="field is-marginless">
      <div class="control">
        <label class="label has-text-white">
          {% if page.lang == 'en' %}
            Search by country name
          {% elsif page.lang == 'ru' %}
            Поиск по названию страны
          {% elsif page.lang == 'ua' %}
            Пошук по назві країни
          {% endif %} 
         </label>
        <input type="text" id="country_search" class="search input is-small" placeholder="{% if page.lang == 'en' %}
        Search
      {% elsif page.lang == 'ru' %}
        Поиск
      {% elsif page.lang == 'ua' %}
        Пошук
      {% endif %} " style="max-width: 280px;" />
        <p class="help has-text-white" id="countries_found">
          &nbsp;
        </p>
      </div>
    </div>
    <div class="">
      <div class="table-header" style="overflow-y: scroll;">
        <table
          class="table is-narrow is-fullwidth is-relative is-size-7-mobile has-background-black-ter has-text-white is-relative">
          <thead class="has-text-white is-absolute">
            <tr>
              <th colspan="6"></th>
            </tr>
            <tr>
              <th class="td-c sort hoverable he-opac has-text-white" data-sort="country">
                {% if page.lang == 'en' %}
                  Countries
                {% elsif page.lang == 'ru' %}
                  Страна
                {% elsif page.lang == 'ua' %}
                  Країна
                {% endif %} 
                {% include svg.html %}
              </th>
              <th class="td-d sort hoverable he-opac has-text-white" data-sort="confirmed">
                {% if page.lang == 'en' %}
                  {{ site.data.en.total-cases }}
                {% elsif page.lang == 'ru' %}
                  {{ site.data.ru.total-cases }}
                {% elsif page.lang == 'ua' %}
                  {{ site.data.ua.total-cases }}
                {% endif %}
                {% include svg.html %}
              </th>
              <th class="td-d sort hoverable he-opac has-text-danger" data-sort="death">
                {% if page.lang == 'en' %}
                  {{ site.data.en.total-death }}
                {% elsif page.lang == 'ru' %}
                  {{ site.data.ru.total-death }}
                {% elsif page.lang == 'ua' %}
                  {{ site.data.ua.total-death }}
                {% endif %} 
                {% include svg.html %}
              </th>
              <th class="td-p sort has-text-white has-text-danger" data-sort="death-perc">
                {% if page.lang == 'en' %}
                  {{ site.data.en.total-death-per }}
                {% elsif page.lang == 'ru' %}
                  {{ site.data.ru.total-death-per }}
                {% elsif page.lang == 'ua' %}
                  {{ site.data.ua.total-death-per }}
                {% endif %}
                {% include svg.html %}
              </th>
              <th class="td-d sort hoverable he-opac has-text-success" data-sort="recovered">
                {% if page.lang == 'en' %}
                  {{ site.data.en.total-recovered }}
                {% elsif page.lang == 'ru' %}
                  {{ site.data.ru.total-recovered }}
                {% elsif page.lang == 'ua' %}
                  {{ site.data.ua.total-recovered }}
                {% endif %} 
                {% include svg.html %}
              </th>
              <th class="td-p sort has-text-white has-text-success" data-sort="recovered-perc">
                {% if page.lang == 'en' %}
                  {{ site.data.en.total-recovered-per }}
                {% elsif page.lang == 'ru' %}
                  {{ site.data.ru.total-recovered-per }}
                {% elsif page.lang == 'ua' %}
                  {{ site.data.ua.total-recovered-per }}
                {% endif %}
                {% include svg.html %}
              </th>
            </tr>
            <tr class="has-text-weight-bold">
              <th class="td-c hoverable he-opac has-text-white"><i class="fas fa-globe"></i> 
                {% if page.lang == 'en' %}
                  Global
                {% elsif page.lang == 'ru' %}
                  По миру
                {% elsif page.lang == 'ua' %}
                  У світі
                {% endif %}
              </th>
              <th class="td-d has-text-white total_confirmed">-</th>
              <th class="td-d has-text-danger total_death">-</th>
              <th class="td-p has-text-danger percent_death">-</th>
              <th class="td-d has-text-success total_recovered">-</th>
              <th class="td-p has-text-success percent_recovered">-</th>
            </tr>
          </thead>
          <tbody id="countries_body" class="list">
  
          </tbody>
  
        </table>
      </div>
    </div>
  </div>
</div>
