<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  
    <div class="container">
      <div class="navbar-brand">
        
          <a class="navbar-item has-text-white logo-item" href="/">
            <img src="/images/covid-logo.svg" alt="Covid 19 Data logo" width="48" height="48">
          </a>
          <p class="navbar-item has-text-white">
            Coronavirus disease Data
          </p>
          
        
        
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control has-text-white is-size-7">
              Last updated: <span class="has-text-weight-semibold">{{ site.time | date: '%B %d, %Y' }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  
 
</nav>
