<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head has-background-black">
      <p class="modal-card-title has-text-white" ><span id="country_name" class="has-text-weight-bold"></span>&nbsp;📈<span class="is-size-6-desktop is-size-7-mobile">
        
        {% if page.lang == 'en' %}
          Charts for confirmed and deceased
        {% elsif page.lang == 'ru' %}
          Подтвержденные и смертельные случаи
        {% elsif page.lang == 'ua' %}
          Підтверджені та смертельні випадки
        {% endif %} 
        </span></p>
      <button class="delete has-background-danger" aria-label="close"></button>
    </header>
    <section class="modal-card-body has-background-black-bis">
      
      <div class="tab-wrap tab-confirmed">
        <div  id="country_data_confirmed" style="height: 360px;"></div>
      </div>
      <hr class="has-background-black-bis" style="margin-top: 8px; margin-bottom: 8px;">
      <div class="tab-wrap tab-death">
        <div id="country_data_death" style="height: 360px;"></div>
      </div>
      <hr class=" is-hidden">
      <div class="tab-wrap tab-recovered is-hidden">
        <div id="country_data_recovered" style="height: 360px;"></div>
      </div>
    </section>
    <footer class="modal-card-foot has-background-black-bis is-hidden">
      <!-- <button class="button is-success">Save changes</button>
      <button class="button">Cancel</button> -->
    </footer>
  </div>
</div>