<div class="container">
  <div class="columns is-flex is-multiline is-centered">
    <div class="column has-text-white	is-half-mobile is-size-7-touch">
      Total confirmed: <br>
      <span class="is-size-4-touch is-size-3-desktop has-text-weight-bold total_confirmed" id="total_cases">&nbsp;</span>
    </div>
    <div class="column has-text-warning	is-half-mobile is-size-7-touch">
      Total active: <br>
      <span class="is-size-4-touch is-size-3-desktop has-text-weight-bold total_active" id="total_active">&nbsp;</span>
      <span class="is-size-7-touch is-size-6-desktop percent_active" id="percent_active">&nbsp;</span>
    </div>
    <div class="column has-text-danger is-half-mobile is-size-7-touch">
      Total deceased: <br>
      <span class="is-size-4-touch is-size-3-desktop has-text-weight-bold total_death" id="total_death">&nbsp;</span>
      <span class="is-size-7-touch is-size-6-desktop percent_death" id="percent_death">&nbsp;</span>

    </div>
    <div class="column has-text-success	is-half-mobile is-size-7-touch ">
      Total recovered: <br>
      <span class="is-size-4-touch is-size-3-desktop has-text-weight-bold total_recovered" id="total_recovered">&nbsp;</span>
      <span class="is-size-7-touch is-size-6-desktop percent_recovered" id="percent_recovered">&nbsp;</span>
    </div>
    
  </div>
</div>