.svg-icon {
  vertical-align: sub;
}

.asc {
  
  .path-top {
    opacity: 1;  
  }
  .path-btm {
    opacity: .1;
  }
}

.desc {
  .path-top {
    opacity: .1;
  }
  .path-btm {
    opacity: 1;
  }
}