.td-c {
  min-width: 146px;
}

.td-d {
  // width: 150px;
  // min-width: 150px;
}

.td-p {
  // width: 120px;
  // min-width: 120px;
}

#countries_body tr:nth-child(odd) {
  background-color: rgba($color: #30303023, $alpha: 0.5);
}

table td:nth-child(odd), table th:nth-child(odd) {
  background-color: rgba($color: #1f1f1f23, $alpha: 0.9);
}

.table {
  th {
      white-space: nowrap !important;
  }
}