<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
  {% include head-includes.html %}
  {% include default-meta.html %}
</head>
<body class="has-background-black-ter" style="min-height: 100vh;">
  {% include body-top-includes.html %}
  {% include default-header.html %}
  
  <section class="section is-small has-background-black-ter">
    {% include quick-info.html %}
    <hr class="is-hidden-touch">

    {% include countries.html %}

    {% include modal.html %}
  </section>

  {% include default-footer.html %}
  {% include scripts.html %}
</body>
</html>